---
---

//
// IMPORTS
//
$footnote-font-size: 0.8em;

@import "reset";
@import "variables";
@import "jquery.inline-footnotes";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: $white;
  font-size: 13px;
  font-family: Verdana;
  font-weight: normal;
  color: #000;
  height: 100%;
}

hr {
  border-width: 1px;
  border-style: none;
  width: 100%;
  height: 1em;
  border-bottom: 1px inset #ccc;
}

sup, sub {
  position: relative;
  line-height: 0;
}

small {
  font-size: 0.85em;
}

.outer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  flex: 1;
  position: relative;
}

pre {
  tab-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: 500;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 24px;
  a {
    color: inherit;
    text-decoration: none;
  }
  svg.triangle {
    position: relative;
    left: -8px;
  }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

p {
  margin: 15px 0;
  line-height: 1.5;
}

a {
  color: $blue;
	cursor: pointer;
  &:hover, &:active {
    color: $darkblue;
  }
  text-decoration: none;
}

a.next {
  text-align: right;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: disc;
}

li br {
  line-height: 2
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p.noscript {
  padding: 0px 1em;
  font-style: italic;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  font-size: 12px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.subheader {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 14px;
  font-family: $helveticaNeue;
  font-weight: 300;


  @include mobile {
    margin: 3px 0;
  }

  a {
      color: $gray;
    &:hover, &:active {
      color: $blue;
    }
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

article {
  figure {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
  p {
  }
  div.entry > p {
  }
}

aside {
  margin: 20px;
  border: 1px double #999;
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
  height: auto;
}

aside.hidden {
  height: 2em;
  transition: height 400ms linear;
}


//
// .main
//

.posts > .post {
  padding-bottom: 1em;
  border-bottom: 1px solid $lightGray;
  margin-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 1em;
    font-style: italic;
  }

  blockquote > p {
    margin: 0px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
  font-style: italic;
    font-size: 13px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  bottom: 0px;
}

footer {
  padding: 20px 0;
  text-align: left;
  font-style: italic;
  font-size: 12px;
}

code.language-plaintext {
  color: #D82651;
}

div .footnotes {
  font-size: 0.8em;
  color: $gray;
}

sup[id^="fnref"] {
  top: -0.5em;
  line-height: 0;
  font-size: 0.75em;
}

.box {
  margin: 1.8em .8em;
  border: 1px solid $gray;
  padding: 0em 1em;
  font-size: 1em;
}

.equation {
  text-indent: 40px;
}

.inline-equation {
  white-space: nowrap;
}

p.indent {
  text-indent: 2em;
}

.pagenavigation {
  font-size: 14px;
  display: flex;
  width: auto;
  overflow: hidden;
}

.pagenavigation a {
  flex-grow: 1;
  float: left;
  margin: 1em 0;
}

.pagenavigation .next {
  text-align: right;
}

.texerror {
  color: red;
}

svg#b {
  position: absolute;
  left: 110%;
  bottom: 0;
  opacity: 0.08;
}

.highlight {
  overflow: hidden !important;
}

pre.highlight {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  width: 80%;
  margin: 0px auto;
}

@import "highlights";

img.border {
  border: 2px solid #ddd;
  border-radius: 2px;
}

.entry > table {
  width: 90%;
  margin: auto;

  thead {
    background: #ddd;
  }

  th, td {
    padding: 3px;
    text-align: left;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
  }
  tbody {
    border: 1px #ddd solid;
  }
}