---
---

//
// IMPORTS
//
$footnote-font-size: 0.8em;

@import "reset";
@import "variables";
@import "jquery.inline-footnotes";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
}

body {
  font-size: 13px;
  font-family: $font;
  font-weight: normal;
  color: #000;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  background: repeating-linear-gradient(
    -35deg,
    #fff,
    #f2f2f2 30px,
    #ded 40px,
  );
}

hr {
  border-width: 1px;
  border-style: none;
  width: 100%;
  border-bottom: 1px inset $lightGray;
}

hr.thick {
  border-width: 3px;
  border-bottom: 3px inset $lightGray;
  border-radius: 1px;
}

article hr {
  width: 100%;
}

article hr.large {
  width: calc(100% + 50px);
  margin-left: -25px;
}

sup, sub {
  line-height: 0;
  vertical-align: super;
  font-size: smaller;
}

.inline-footnote sup {
  vertical-align: baseline;
}

small {
  font-size: 0.85em;
}

.divider {
  border-bottom: 1px solid #999; 
  width: 60px
}

.main {
  width: 100%;
  display: flex;
  border-top: 1px solid $lightGray;
  flex-grow: 1;
}

.sidebar {
  padding-top: 10px;
  padding-left: 20px;
  width: 120px;
  background-color: $lightGray;

  @include mobile {
    display: none;
  }
}

.mobile-subheader {
  display: none;
  @include mobile {
    display: block;
  }
}

.container {
  padding: 30px 15px 30px 25px;
  max-width: 740px;
  width: 100%;
  flex: 1;
  position: relative;
}

pre {
  tab-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkerGray;
  font-weight: 400;

  line-height: 1.4;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

svg.trianglesvg {
  position: relative;
  left: -8px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

.entry p {
  margin: 15px 0;
  line-height: 1.5;
}

a {
  color: $blue;
	cursor: pointer;
  &:hover, &:active {
    color: $darkblue;
  }
  text-decoration: none;
}

a.next {
  text-align: right;
}

article ul, ol {
  margin: 15px 0;
  padding-left: 20px;
}

ul, ol {
  list-style-type: disc;
}

ul#markdown-toc {
  list-style-type: none;
  line-height: 1.3em;
}

.sidebar ul, ol {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
  line-height: 1.5em;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

li br {
  line-height: 2
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p.noscript {
  padding: 0px 1em;
  font-style: italic;
}

.date {
  font-style: italic;
  color: $gray;
  font-size: 12px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.frame {
  background: $white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  position: relative;
}

@media (min-width: 1000px) {
.frame {
    min-width: 1000px;
    box-shadow: 0 0 5px 5px #dfe0e5;
    margin: 15px auto;
}
}

.wrapper-masthead {
  padding-left: 20px;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.triangles {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.site-info {
  @include mobile {
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.subheader {
  margin: -5px 0 0 0;

  @include mobile {
    display: none;
  }
}

.subheader, .mobile-subheader, .nav {
  color: $gray;
  font-size: 14px;
  font-weight: 300;


  @include mobile {
    margin: 3px 0;
  }

  a {
      color: $gray;
    &:hover, &:active {
      color: $blue;
    }
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }

  ul {
    list-style-type: none;
  }
}

article {
  figure {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
  p {
  }
}

aside {
  margin: 20px;
  border: 1px double #999;
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
  height: auto;
}

aside.hidden {
  height: 2em;
  transition: height 400ms linear;
}


//
// .main
//

.posts > .post {
  padding-bottom: 1em;
  border-bottom: 1px solid $lightGray;
  margin-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 1em;
    font-style: italic;
  }

  blockquote > p {
    margin: 0px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
  font-style: italic;
    font-size: 13px;
  }
}

.list {
  ul {
    line-height: 1.4em;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  bottom: 0px;
}

footer {
  padding: 20px 0;
  text-align: left;
  font-style: italic;
  font-size: 12px;
}

code.language-plaintext {
  color: inherit;
  background-color: #efefef;
  padding: 2px 1px;
}

h1,h2,h3 {
  code.language-plaintext {
    background-color: transparent;
  }
} 

div .footnotes {
  font-size: 0.8em;
  color: $gray;
}

sup[id^="fnref"] {
  top: -0.5em;
  line-height: 0;
  font-size: 0.75em;
}

.box {
  margin: 1.8em .8em;
  border: 1px solid $gray;
  padding: 0em 1em;
  font-size: 1em;
}

.equation {
  text-indent: 40px;
}

.inline-equation {
  white-space: nowrap;
}

p.indent {
  text-indent: 2em;
}

.pagenavigation {
  font-size: 14px;
  display: flex;
  width: auto;
  overflow: hidden;
}

.pagenavigation a {
  float: left;
  margin: 1em 0;
}

.pagenavigation .next {
  text-align: right;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texerror {
  color: red;
}

div.b {
  position: absolute;
  right: 20px;
  bottom: 50px;

  svg {
    opacity: 0.08;
  }
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  width: 80%;
  margin: 0px auto;
}

@import "highlights";

img.border {
  border: 2px solid #ddd;
  border-radius: 2px;
}

.entry > table {
  width: 90%;
  margin: auto;

  thead {
    background: #ddd;
  }

  th, td {
    padding: 3px;
    text-align: left;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
  }
  tbody {
    border: 1px #ddd solid;
  }
}

.highlight {
  .si {
    color: black;
    font-style: normal;
  }

  .na {
    color: black;
  }

  .kd {
  }

  .nc {
    color: #062873;
  }

  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;

  overflow: auto;
}

pre.highlight {
  margin: 0px;
}
