---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "jquery.inline-footnotes";
@import "highlights";

// Syntax highlighting @import is at the bottom of this file

:root {
  --link: #4183C4;
  --link-hover: #3183A3;
  --green-color: #c3e281;
  --background: #fff;
  --background-texture: repeating-linear-gradient(
    -35deg,
    #fff,
    #f2f2f2 30px,
    #ded 40px
  );
  --text-color: #000;
  --selection: #eee;
  --shadow: 0 0 5px 5px #dfe0e5;

  --border: #eee;
  --dark-border: #666;
  --header: #333;
  --subheader: #666;
  --divider: #999;
  --code-background: #efefef;
  --sidebar:  linear-gradient(to bottom, var(--border) 0 300px, transparent 500px);
}

[data-theme="dark"] {
  --background: #333;
  --background-texture: repeating-linear-gradient(
    -35deg,
    #111,
    #1a1a1a 30px,
    rgb(35, 50, 35) 40px
  );
  --text-color: #eee;
  --shadow: none;

  --green-color: #92a961;
  --link: #c3e281;
  --link-hover: #92a961;
  --header: #bbb;
  --subheader: #ccc;
  --border: #666;
  --dark-border: #999;
  --divider: #ccc;
  --code-background: #222;
  --sidebar: transparent;


}


/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
  text-size-adjust: none; /* attempt to fix font-boosting on android because it doesn't play well with KaTeX */
}

body {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  color: var(--text-color);
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  background: var(--background-texture);

  @include mobile {
    font-size: 16px;
  }
}


hr {
  border-width: 1px;
  border-style: none;
  width: 100%;
  border-bottom: 1px inset var(--border);
}

hr.thick {
  border-width: 3px;
  border-bottom: 3px inset var(--border);
  border-radius: 1px;
}

article hr {
  width: 100%;
}

sup, sub {
  line-height: 0;
  vertical-align: super;
  font-size: smaller;
}

.inline-footnote {
  sup {
    vertical-align: baseline;
  };
  p {
    text-align: left;
  }
}

small {
  font-size: smaller;
}

.divider {
  border-bottom: 1px solid var(--divider); 
  width: 60px
}

.main {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow-x: scroll;
}

.sidebar {
  padding-top: 10px;
  padding-left: 16px;
  min-width: 100px;
  background: var(--sidebar);

  @include mobile {
    display: none;
  }
}

[data-theme="dark"]{
  .dark-toggle  {
    display: none;
  }
  .light-toggle {
    display: block;
  }
}
[data-theme="light"]{
  .dark-toggle  {
    display: block;
  }
  .light-toggle {
    display: none;
  }
}

.mobile-subheader {
  display: none;
  @include mobile {
    display: flex;
    justify-content: center;
    column-gap: 5px;
  }
}

.container {
  margin: 20px 30px 30px 30px;
  max-width: 650px;
  width: 100%;
  flex: 1;
  position: relative;
  min-width: 0; /* allows text to resize inside a flex item. sigh. */

  @include mobile {
    margin-top: 20px;
    margin-left: 20px;
  }
}

pre {
  tab-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header);
  font-weight: 400;

  line-height: 1.4;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

svg.trianglesvg {
  position: relative;
  left: -8px;
  color: var(--green-color);
}

span.inline-triangle {
  color: var(--green-color);
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
  margin: 10px 0;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 5px 0;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
}

.entry p {
  margin: 15px 0;
  line-height: 1.5;
}

a {
  color: var(--link);
	cursor: pointer;
  &:hover, &:active {
    color: var(--link-hover);
  }
  text-decoration: none;
}

a.next {
  text-align: right;
}

.container {
  ul, ol {
    margin: 15px 0;
    padding-left: 20px;
  }
  ol ul, ul ol, ul ul, ol ol {
    margin: 2px 0;
  }
}

ol.bare, ul.bare {
  list-style-type: none;
  padding-left: 0;
}

ol, ul {
  line-height: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul#markdown-toc {
  line-height: 1.3em;
}

.sidebar ul {
  list-style-type: none;
  line-height: 1.2em;
}

li br {
  line-height: 2
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p.noscript {
  padding: 0px 1em;
  font-style: italic;
}

.date {
  font-style: italic;
  color: var(--subheader);
  font-size: 0.9em;
}

// Specify the color of the selection
::-moz-selection {
  color: var(--text-color);
  background: var(--selection);
}
::selection {
  color: var(--text-color);
  background: var(--selection);
}

.frame {
  background: var(--background);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  position: relative;
}

@media (min-width: 1000px) {
.frame {
    min-width: 950px;
    box-shadow: var(--shadow);
    margin: 15px auto;
}
}

.header {
  margin-left: 16px;
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.triangles {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.site-info {
  @include mobile {
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: var(--header);
  cursor: pointer;
  font-weight: 300;
  font-size: 2.1em;
  letter-spacing: 1px;
}

.subheader {
  margin: -5px 0 0 0;

  @include mobile {
    display: none;
  }
}

.nav.index ul {
  padding-top: 4px;
}

.subheader, .mobile-subheader, .nav {
  color: var(--subheader);
  font-size: 1.1em;
  font-weight: 300;


  @include mobile {
    margin: 3px 0;
  }

  a {
      color: var(--subheader);
    &:hover, &:active {
      color: var(--link);
    }
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-size: 1.2em;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: var(--nav);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: var(--link);
    }
  }

  ul {
    list-style-type: none;
  }
}

article {
  figure {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
  p {
  }
}

aside {
  margin: 20px;
  border: 1px double var(--divider);
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
  height: auto;
}

aside.hidden {
  height: 2em;
  transition: height 400ms linear;
}


//
// .main
//

.posts > .post {
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid var(--divider);
    padding: 0.1em 1em;
    color: var(--subheader);
    font-size: 1em;
    font-style: italic;
  }

  blockquote > p {
    margin: 0px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
  font-style: italic;
  }
}

.list {
  ul {
    line-height: 1.4em;
  }
}

footer {
  padding: 20px 0;
  text-align: left;
  font-style: italic;
  font-size: 0.9em;
}

code.language-plaintext {
  color: inherit;
  background-color: var(--code-background);
  padding: 1px 5px;
}

h1,h2,h3 {
  code.language-plaintext {
    background-color: transparent;
  }
} 

div .footnotes {
  font-size: 0.85em;
  color: var(--subheader);
}

sup[id^="fnref"] {
  top: -0.5em;
  line-height: 0;
  font-size: 0.75em;
}

.box {
  margin: 1.8em .8em;
  border: 1px solid var(--dark-border);
  padding: 0em 1em;
  font-size: 1em;
}

.equation {
  text-indent: 40px;
}

.inline-equation {
  white-space: nowrap;
}

p.indent {
  text-indent: 2em;
}

.pagenavigation {
  font-size: 1.1em;
  display: flex;
  width: auto;
  overflow: hidden;
}

.pagenavigation a {
  float: left;
  margin: 1em 0;
}

.pagenavigation .next {
  text-align: right;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texerror {
  color: red;
}

div.b {
  position: absolute;
  right: 20px;
  bottom: 50px;

  svg {
    opacity: 0.08;
    path {
      fill: var(--green-color);
      stroke: var(--text-color);
    }
  }

  pointer-events: none;
}

figcaption {
  text-align: center;
  font-size: 0.9em;
  width: 80%;
  margin: 0px auto;
}


img.border {
  border: 2px solid var(--border);
  border-radius: 2px;
}


.entry > table {
  width: 90%;
  margin: auto;

  thead {
    background: var(--border);
  }

  th, td {
    padding: 3px;
    text-align: left;
    border-left: 1px var(--border) solid;
    border-right: 1px var(--border) solid;
  }
  tbody {
    border: 1px var(--border) solid;
  }
}

.highlight {
  background-color: var(--code-background);
  .si {
    color: var(--text-color);
    font-style: normal;
  }

  .na {
    color: var(--text-color);
  }

  .kd {
  }

  .nc {
    color: #062873;
  }

  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;

  overflow: auto;
}

pre.highlight {
  margin: 0px;
}

.collapsible::before {
  position: static;
  margin-left: -15px;
  padding-right: 5px;
  font-size: 10px;
  content: "▼"
}
.collapsible.collapse::before {
  content: "▲"
}

.collapse:not(h1) {
  display: none !important; /* override Katex's display: block that gets set after page load. Sigh. */
}
