{% include triangles.html %}

-----

My other articles about Exterior Algebra:

{:start="0"}
0. [Oriented Areas and the Shoelace Formula]({% post_url 2018-08-06-oriented-area %})
1. [Matrices and Determinants]({% post_url 2018-10-08-exterior-1 %})
2. [The Inner product]({% post_url 2018-10-09-exterior-2 %})
3. [The Hodge Star]({% post_url 2019-01-26-exterior-3 %})
4. [The Interior Product]({% post_url 2019-01-27-exterior-4 %})
5. [EA as Linearized Set Theory?]({% post_url 2019-02-13-exterior-5 %})
6. [Oriented Projective Geometry]({% post_url 2019-02-23-exterior-6 %})
7. [All the Exterior Algebra Operations]({% post_url 2020-10-15-ea-operations %})