<script>
function removeHash() { 
    history.replaceState("", document.title, window.location.pathname);
}
function addHash(hash) {
    history.replaceState("", document.title, window.location.pathname + "#" + hash);
}
$(() => {
	let hash = window.location.hash;
	if(hash) {
		hash = hash.substring(1);
	}
	$("aside.toggleable").each((i, el) => {
		let $el = $(el);
		let id = $el.attr("id");

		if(hash && id && hash == id) {
			;
		} else {
			$el.addClass("hidden");
		}

		let $title = $("<div/>")
			.html($el.attr("placeholder"))
			.css("width", "100%")
			.prependTo($el)
			.click(e => {
				if($el.hasClass("hidden")) {
					if(id) {
						addHash(id)
					}
					$el.removeClass("hidden");
				} else {
					removeHash();
					$el.addClass("hidden");
				}
			});

	});
});
</script>