<script>
const macros = {
        "\\d": "\\text{d}",
        "\\var": "\\delta",
        "\\D": "\\Delta",
        "\\p": "\\partial",
        "\\b": "\\mathbf",
        "\\bb": "\\mathbb",
        "\\tt": "\\texttt",
        "\\cal": "\\mathcal",
        "\\ola": "\\overleftarrow",
        "\\ora": "\\overrightarrow",
        "\\ra": "\\rightarrow",
        "\\lra": "\\leftrightarrow",
        "\\Ra": "\\Rightarrow",
        "\\Lra": "\\Leftrightarrow",
        "\\tr" : "\\,\\text{tr}\\,",
        "\\<": "\\langle",
        "\\>": "\\rangle",
        "\\e": "\\epsilon",
        "\\1": "\\mathbf{1}",
        "\\mrm": "\\mathrm",
        "\\del": "\\nabla",
        "\\E": "\\bb{E}",
        "\\Var": "\\text{Var}",
        "\\|": "\\vert",
        "\\span": "\\text{span}",
        "\\if": "\\text{ if }",
        "\\otherwise": "\\text{ otherwise}",
        "\\sgn": "\\text{sgn}",
        "\\^": "\\wedge",
        "\\GM": "\\text{GM}",
        "\\AM": "\\text{AM}",
        "\\^": "\\wedge",
        "\\such": "\\, \\vert \\,",
        "\\o": "\\otimes",
        "\\and": "\\text{ and }",
        "\\un": "\\underset",
        "\\v": "\\vee",
        "\\vol": "\\text{vol}",
        "\\F": "\\mathcal{F}",
        "\\P": "\\mathcal{P}",
        "\\adj": "\\text{adj}",
        "\\d": "\\,d",
      };

document.addEventListener("DOMContentLoaded", function() {
  renderMathInElement(document.body, {
    delimiters: [
      {left: "\\(", right: "\\)", display: false},
      {left: "\\[", right: "\\]", display: true}
    ],
    output: "html",
    throwOnError: false,
    macros: macros,
    strict: false,
    minRuleThickness: 0.07,
  });
});
</script>