<div class="posts">
{% for post in site.posts limit: include.limit %}
{% if include.category == 'all' or post.categories contains include.category %}
<article class="post">
<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
{% if post.subtitle %}
<h3><em>{{ post.subtitle }}</em></h3>
{% endif %}
<div class="date">
{{ post.date | date: "%B %e, %Y" }}
</div>
<hr class="">

<div class="entry">
{% if post.summary %}<p> {{post.summary}} </p> {% endif %}
{{ post.excerpt }}
</div>
{% if post.excerpt != post.content %}
<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">more...</a>
{% endif %}
</article>
{% endif %}
{% endfor %}
</div>