<div class="nav">
<ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/atom.html">atom.xml</a></li>
</ul>
</div>
<br/>
<div class="divider"> </div>
<br/>
<div class="nav index">
articles:
<ul>
    <li><a href="/math">math</a></li>
    <li><a href="/tech">tech</a></li>
</ul>
</div>

<br/>
<div class="divider"> </div>
<br/>

<div class="nav">
  <ul>
    <li><a href="/reading">reading list</a></li>
    <li class="dark-toggle"><a href="">darken</a></li>
    <li class="light-toggle"><a href="">lighten</a></li>
</ul>
</div>
